<!DOCTYPE html>
<html>
	<head>
	  <title>ToDo</title>
	  <meta name: "viewport", content: "width=device-width", initial-scale="1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
				<li><%= link_to "Welcome", root_path%></li>
				<li><%= link_to "About", about_path%></li>
			</ul>
		</div>
		<div>
			<% if flash[:notice] %>
				<p class="alert alert-success"><%= flash[:notice] %></p>
			<% elsif flash.now[:alert] %>
				<p class="alert alert-danger"><%= flash.now[:alert] %></p>
			<% elsif flash[:alert] %>
				<p class="alert alert-warning"><%= flash[:alert] %></p>
			<% end %>
		</div>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>